<div class="toolbar" role="banner">
  <button mat-icon-button [matMenuTriggerFor]="main" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>

  </button>
  <mat-menu #main="matMenu">
    <button mat-menu-item (click)="download_page_objects()">Download Page Objects</button>
    <button mat-menu-item (click)="save_options()">Save Options</button>
    <button mat-menu-item (click)="load_options()">Download Framework</button>
    <button mat-menu-item (click)="to_my_home()">About</button>
  </mat-menu>
  <span>Welcome</span>
  <div class="spacer"></div>
  <button mat-button (click)="to_my_home()">
    <mat-icon>cloud_download</mat-icon>
  </button>
  <p>&nbsp;</p>
</div>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <mat-icon >cloud_download</mat-icon> -->
      Generated Contents
    </ng-template>
    No Page Captured.
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <mat-icon (click)="save_options()">save</mat-icon> -->
      Options
    </ng-template>
    <pre> {{options | json}} </pre>
  </mat-tab>
</mat-tab-group>